@font-face {
  font-family: "robotobold";
  src: url("fontes/roboto_bold-webfont.woff2") format("woff2"), url("fontes/roboto_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("fontes/roboto_light-webfont.woff2") format("woff2"), url("fontes/roboto_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("fontes/roboto_regular-webfont.woff2") format("woff2"), url("fontes/roboto_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

main {
  height: 100%;
}

section {
  min-height: calc(100% - 2*40px);
  padding: 40px;
}
section h1 {
  font-size: 16px;
  text-transform: uppercase;
}

.conteudo-container {
  display: flex;
}
.conteudo-container .coluna-1 {
  width: calc(60% - 2*40px);
  margin-right: 80px;
}
.conteudo-container .coluna-2 {
  width: 40%;
}

input, textarea, select {
  width: calc(100% - 52px);
  padding: 15px 25px;
  background: transparent;
  border: 1px solid #282828;
  color: #fff;
  font-family: "robotobold", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #fff;
  opacity: 1;
}

input[type=submit], select {
  width: 100%;
}

textarea {
  resize: none;
}

select {
  padding: 15px 21px;
  appearance: none;
  background: url(css-img/seta-baixo.svg) no-repeat calc(100% - 20px);
  background-size: 15px;
}

.form-campo-alerta {
  border: 1px solid red;
}

.form-alerta {
  height: 20px;
  color: red;
}
.form-alerta span {
  display: none;
  font-size: 12px;
}
.form-alerta span.form-alerta-ativo-texto {
  display: block !important;
}

.form-resultado {
  text-align: right;
  height: 20px;
}
.form-resultado span {
  display: none;
  color: yellow;
  font-size: 12px;
}

header {
  height: 150px;
  width: calc(100% - 2*40px);
  padding-left: 40px;
  padding-right: 40px;
  background-color: #e9e9e9;
  position: fixed;
  top: 0;
  z-index: 50;
}
header #logo {
  margin: auto;
  width: 28%;
  height: 0;
  position: relative;
  z-index: 1;
  top: calc(50% - 37px);
}
header #logo a {
  display: block;
  margin: auto;
  width: 114px;
  height: 74px;
  background: url(css-img/logo.png) no-repeat;
  overflow: hidden;
  text-indent: -99999px;
}
header nav {
  height: 100%;
}
header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
}
header nav ul li {
  height: 100%;
  width: 12%;
  list-style-type: none;
}
header nav ul li.menu-item-vazio {
  width: 28%;
}
header nav ul li a {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
  transition: background-color 0.5s, color 0.5s;
  text-transform: uppercase;
  font-family: "robotolight", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
header nav ul li a:hover {
  background-color: #000;
  color: #fff;
}
header nav ul li a span {
  display: table-cell;
  vertical-align: middle;
}
header #menu-mobile {
  display: none;
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 1;
  top: calc(50% - 37px);
}

#banner {
  display: table;
  width: calc(100% - 2*40px);
  min-height: calc(100% - 150px - 2*40px);
  margin-top: 150px;
  background: url(css-img/banner.jpg) no-repeat center;
  background-size: cover;
}
#banner .conteudo-container {
  display: table-cell;
  width: 100%;
  color: #fff;
  vertical-align: middle;
  text-align: center;
}
#banner .conteudo-container h1 {
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "robotolight", Arial, Helvetica, sans-serif;
  margin: 0;
}
#banner .conteudo-container h5 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  margin: 10px 15px 50px;
}
#banner .conteudo-container a {
  display: inline-block;
  background: #fff;
  color: #000;
  padding: 15px 40px;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s, padding 0.5s;
  font-family: "robotobold", Arial, Helvetica, sans-serif;
}
#banner .conteudo-container a:hover {
  background-color: #000;
  color: #fff;
  padding: 25px 50px;
}
#banner #banner-carrossel {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-bottom: 40px;
}
#banner #banner-carrossel span {
  display: inline-block;
  background-color: #fff;
  border-radius: 100px;
  opacity: 0.5;
  height: 15px;
  width: 15px;
  text-indent: -99999px;
  margin: 0 2px;
  cursor: pointer;
}
#banner #banner-carrossel span.banner-carrossel-ativo {
  opacity: 1;
}

#collection {
  background-color: #fff;
}
#collection h1 {
  text-align: center;
  margin-bottom: 100px;
}
#collection #collection-navegacao {
  display: none;
}
#collection .conteudo-container {
  flex-wrap: wrap;
}
#collection .conteudo-container .collection-item {
  width: 33.3333333333%;
  margin-bottom: 30px;
}
#collection .conteudo-container .collection-item > div {
  width: 252px;
  margin: auto;
  text-align: center;
}
#collection .conteudo-container .collection-item > div a:first-child {
  transition: filter 0.5s;
}
#collection .conteudo-container .collection-item > div a:first-child:hover {
  filter: brightness(150%);
}
#collection .conteudo-container .collection-item > div a:nth-child(3) {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  display: inline-block;
  margin: 3px 0;
  padding: 5px 10px;
  border-radius: 100px;
  transition: background-color 0.5s, color 0.5s;
  font-family: "robotolight", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
}
#collection .conteudo-container .collection-item > div a:nth-child(3):hover {
  background-color: #000;
  color: #fff;
}
#collection .conteudo-container .collection-item > div .versoes-item {
  text-align: center;
}
#collection .conteudo-container .collection-item > div .versoes-item div {
  display: inline-block;
  border-radius: 100px;
  width: 18px;
  height: 18px;
}
#collection .conteudo-container .collection-item > div .versoes-item div:hover {
  cursor: pointer;
}
#collection .conteudo-container .collection-item > div .versoes-item div.versao-item-1.versao-item-ativo {
  border: 1px solid #000000;
}
#collection .conteudo-container .collection-item > div .versoes-item div.versao-item-1 span {
  background-color: #000000;
}
#collection .conteudo-container .collection-item > div .versoes-item div.versao-item-2.versao-item-ativo {
  border: 1px solid #a36445;
}
#collection .conteudo-container .collection-item > div .versoes-item div.versao-item-2 span {
  background-color: #a36445;
}
#collection .conteudo-container .collection-item > div .versoes-item div.versao-item-3.versao-item-ativo {
  border: 1px solid #7a615d;
}
#collection .conteudo-container .collection-item > div .versoes-item div.versao-item-3 span {
  background-color: #7a615d;
}
#collection .conteudo-container .collection-item > div .versoes-item div span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: 3px solid #fff;
}
#collection .conteudo-container .collection-item > div span {
  display: block;
  font-family: "robotolight", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#fale-conosco {
  background-color: #000;
  color: #fff;
}
#fale-conosco h2 {
  font-size: 50px;
}
#fale-conosco form {
  display: table;
  width: 100%;
}
#fale-conosco form textarea {
  height: 180px;
  min-height: 180px;
  max-height: 180px;
}
#fale-conosco form input[type=submit] {
  width: 80px;
  padding: 20px 25px;
  float: right;
  cursor: pointer;
  background: url(css-img/seta-direita.svg) no-repeat;
  background-position: center;
  background-size: 30px;
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s, background-position 0.5s;
}
#fale-conosco form input[type=submit]:hover {
  background-color: #646464;
  background-position: 80%;
}

footer {
  background-color: #282828;
  padding: 40px;
  color: #fff;
}
footer h1 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}
footer #footer-links {
  display: flex;
}
footer #footer-links ul {
  padding: 0;
  margin: 0;
  width: 30%;
}
footer #footer-links ul li {
  list-style-type: none;
}
footer #footer-links ul li a {
  color: #646464;
  font-size: 13px;
  text-decoration: none;
}
footer #footer-links ul li a:hover {
  text-decoration: underline;
}
footer #footer-newsletter span {
  font-size: 12px;
}
footer #footer-newsletter #footer-newsletter-form {
  display: flex;
  margin-top: 10px;
  border-radius: 30px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
footer #footer-newsletter #footer-newsletter-form div {
  width: 80%;
}
footer #footer-newsletter #footer-newsletter-form div input {
  padding: 25px 25px;
  margin-bottom: 0;
}
footer #footer-newsletter #footer-newsletter-form div input[type=text] {
  width: calc(100% - 50px);
  background-color: #646464;
  border: 0;
}
footer #footer-newsletter #footer-newsletter-form div input[type=text]::placeholder {
  font-size: 13px;
  color: #e9e9e9;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  opacity: 1;
  letter-spacing: 1px;
}
footer #footer-newsletter #footer-newsletter-form div input[type=submit] {
  background-color: #e9e9e9;
  color: #000;
  border: 0;
  cursor: pointer;
  transition: background-color 0.5s;
}
footer #footer-newsletter #footer-newsletter-form div input[type=submit]:hover {
  background-color: #000;
  color: #fff;
}
footer #footer-newsletter #footer-newsletter-form div + div {
  width: 20%;
}
footer #footer-newsletter .form-alerta {
  margin-bottom: 70px;
}
footer #footer-cnpj {
  font-size: 11px;
  color: #646464;
  display: table;
  height: 60px;
}
footer #footer-cnpj div {
  display: table-cell;
  vertical-align: bottom;
}
footer #footer-redes-sociais h1 {
  margin-bottom: 20px;
}
footer #footer-redes-sociais .footer-social {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -99999px;
  overflow: hidden;
  margin-right: 30px;
}
footer #footer-redes-sociais #footer-facebook {
  background-image: url(css-icones/facebook.svg);
}
footer #footer-redes-sociais #footer-twitter {
  background-image: url(css-icones/twitter.svg);
}
footer #footer-redes-sociais #footer-instagram {
  background-image: url(css-icones/instagram.svg);
}

@media screen and (max-width: 880px) {
  input, textarea, select, option {
    text-align: center;
    text-align-last: center;
  }
  input::placeholder, textarea::placeholder, select::placeholder, option::placeholder {
    text-align: center;
    text-align-last: center;
  }

  .form-alerta {
    text-align: center;
  }

  .form-alerta, .form-resultado {
    height: auto;
    min-height: 20px;
  }

  header {
    display: flex;
  }
  header #logo {
    width: 50%;
    margin: 0;
    height: 74px;
  }
  header #logo a {
    margin: 0;
  }
  header nav {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 150px;
    left: 0;
    background: #e9e9e9;
  }
  header nav ul {
    display: block;
  }
  header nav ul li {
    width: 100%;
    height: 50px;
  }
  header nav ul li.menu-item-vazio {
    display: none;
  }
  header #menu-mobile {
    height: 74px;
    display: block;
    text-align: right;
  }
  header #menu-mobile span {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(css-img/menu-mobile.svg) no-repeat;
    background-size: contain;
    margin-top: 22px;
    cursor: pointer;
  }

  #collection #collection-navegacao {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
  }
  #collection #collection-navegacao span {
    cursor: pointer;
  }
  #collection #collection-navegacao #collection-navegacao-esquerda, #collection #collection-navegacao #collection-navegacao-direita {
    position: absolute;
    width: 30px;
    height: 60px;
    display: block;
    top: 100px;
    z-index: 1;
    background: #fff url(css-img/seta-direita.svg) no-repeat center;
    background-size: contain;
  }
  #collection #collection-navegacao #collection-navegacao-esquerda {
    left: 0;
    transform: rotate(180deg);
  }
  #collection #collection-navegacao #collection-navegacao-direita {
    right: 0;
  }
  #collection .conteudo-container {
    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    height: 500px;
  }
  #collection .conteudo-container .collection-item {
    width: 100%;
    position: absolute;
    left: 0;
  }
  #collection .conteudo-container .collection-item:nth-child(n+2) {
    left: 100%;
  }
  #collection .conteudo-container .collection-item:nth-child(n+3) {
    left: 200%;
  }
  #collection .conteudo-container .collection-item:nth-child(n+4) {
    left: 300%;
  }
  #collection .conteudo-container .collection-item:nth-child(n+5) {
    left: 400%;
  }
  #collection .conteudo-container .collection-item:nth-child(n+6) {
    left: 500%;
  }

  .conteudo-container {
    display: block;
  }
  .conteudo-container .coluna-1, .conteudo-container .coluna-2 {
    width: 100%;
    margin-right: 0;
  }

  #fale-conosco .conteudo-container {
    display: table;
  }

  footer input, footer textarea, footer select {
    text-align: left;
  }
  footer input::placeholder, footer textarea::placeholder, footer select::placeholder {
    text-align: left;
  }
  footer input[type=submit], footer textarea[type=submit], footer select[type=submit] {
    text-align: center;
  }
  footer #footer-links ul {
    width: 50%;
  }
  footer #footer-newsletter {
    margin-top: 30px;
  }
  footer #footer-newsletter #footer-newsletter-form {
    margin-bottom: 0;
  }
  footer #footer-cnpj {
    text-align: center;
    margin-bottom: 30px;
  }
  footer #footer-redes-sociais {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  #banner .conteudo-container h1 {
    font-size: 50px;
  }
}

/*# sourceMappingURL=estilos.css.map */
