// [FONTES]
@import 'fontes/_fontes';

// [VARIÁVEIS]
// Cores
$cor-primaria: #000;
$cor-secundaria: #282828;
$cor-terciaria: #e9e9e9;
$cor-quarternaria: #fff;
$cor-quinaria: #646464;

// Cores Itens
$cor-item-1:#000000;
$cor-item-2: #a36445;
$cor-item-3: #7a615d;

// Alturas
$altura-menu: 150px;

// Margens
$margem-global: 40px;

// Transições
$tempo-transicao: 0.5s;

// [ESTILOS]
// Geral 
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

main {
    height: 100%;
}

section {
    min-height: calc(100% - 2*#{$margem-global});
    padding: $margem-global;

    h1 {
        font-size: 16px;
        text-transform: uppercase;
    }
}

.conteudo-container {
    display: flex;

    .coluna-1 {
        width: calc(60% - 2*#{$margem-global});
        margin-right: 2*$margem-global;
    }

    .coluna-2 {
        width: 40%;
    }
}

// Formulários
input, textarea, select {
    width: calc(100% - 52px);
    padding: 15px 25px;
    background: transparent;
    border: 1px solid $cor-secundaria;
    color: $cor-quarternaria;
    font-family: 'robotobold', Arial, Helvetica, sans-serif;
    font-size: 16px;

    &::placeholder {
        color: $cor-quarternaria;
        opacity: 1;
    }
    
}

input[type="submit"],  select {
    width: 100%;
}

textarea {
    resize: none;
}

select {
    padding: 15px 21px;
    appearance: none;
    background: url(css-img/seta-baixo.svg) no-repeat calc(100% - 20px);
    background-size: 15px;
}

.form-campo-alerta {
    border: 1px solid red;
}

.form-alerta {
    height: 20px;
    color: red;

    span {
        display: none;
        font-size: 12px;

        &.form-alerta-ativo-texto {
            display: block !important;
        }

    }

}

.form-resultado {
    text-align: right;
    height: 20px;
    
    span {
        display: none;
        color: yellow;
        font-size: 12px;
    }

}

// Header
header {
    height: $altura-menu;
    width: calc(100% - 2*#{$margem-global});
    padding-left: $margem-global;
    padding-right: $margem-global;
    background-color: $cor-terciaria;
    position: fixed;
    top: 0;
    z-index: 50;

    // Logo
    #logo {
        margin: auto;
        width: 28%;
        height: 0;
        position: relative;
        z-index: 1;
        top: calc(50% - 37px);

        a {
            display: block;
            margin: auto;
            width: 114px;
            height: 74px;
            background: url(css-img/logo.png) no-repeat;
            overflow: hidden;
            text-indent: -99999px;
        }
    }

    // Menu
    nav {
        height: 100%;

        ul {
            display: flex;
            padding: 0;
            margin: 0;
            height: 100%;

            li {
                height: 100%;
                width: 12%;
                list-style-type: none;

                &.menu-item-vazio {
                    width: 28%;
                }

                a {
                    display: table;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    text-decoration: none;
                    color: $cor-primaria;
                    transition: background-color $tempo-transicao, color  $tempo-transicao;
                    text-transform: uppercase;
                    font-family: 'robotolight', Arial, Helvetica, sans-serif;
                    font-size: 14px;

                    &:hover {
                        background-color: $cor-primaria;
                        color: $cor-quarternaria;
                    }

                    span {
                        display: table-cell;
                        vertical-align: middle;
                    } 

                }

            }

        }

    }

    #menu-mobile {
        display: none;
        width: 50%;
        height: 100%;
        position: relative;
        z-index: 1;
        top: calc(50% - 37px);
    }

}

// Banner
#banner {
    display: table;
    width: calc(100% - 2*#{$margem-global});
    min-height: calc(100% - #{$altura-menu} - 2*#{$margem-global});
    margin-top: $altura-menu;
    background: url(css-img/banner.jpg) no-repeat center;
    background-size: cover;

    .conteudo-container {
        display: table-cell;
        width: 100%;
        color: $cor-quarternaria;
        vertical-align: middle;
        text-align: center;

        h1 {
            font-size: 100px;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-family: 'robotolight', Arial, Helvetica, sans-serif;
            margin: 0;
        }

        h5 {
            font-size: 18px;
            text-transform: uppercase;
            font-family: 'robotoregular', Arial, Helvetica, sans-serif;
            margin: 10px 15px 50px;
        }

        a {
            display: inline-block;
            background: $cor-quarternaria;
            color: $cor-primaria;
            padding: 15px 40px;
            border-radius: 100px;
            text-transform: uppercase;
            text-decoration: none;
            transition: background-color $tempo-transicao, color $tempo-transicao, padding $tempo-transicao;
            font-family: 'robotobold', Arial, Helvetica, sans-serif;

            &:hover {
                background-color: $cor-primaria;
                color: $cor-quarternaria;
                padding: 25px 50px;
            }

        }

    }

    #banner-carrossel {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
        padding-bottom: 40px;

        span {
            display: inline-block;
            background-color: $cor-quarternaria;
            border-radius: 100px;
            opacity: 0.5;
            height: 15px;
            width: 15px;
            text-indent: -99999px;
            margin: 0 2px;
            cursor: pointer;

            &.banner-carrossel-ativo {
                opacity: 1;
            }

        }

    }

}

// Collection
#collection {
    background-color: $cor-quarternaria;

    h1 {
        text-align: center;
        margin-bottom: 100px;
    }

    #collection-navegacao {
        display: none;
    }

    .conteudo-container {
        flex-wrap: wrap;

        // Itens
        .collection-item {
            width: 33.3333333333%;
            margin-bottom: 30px;

            &> div {
                width: 252px;
                margin: auto;
                text-align: center;

                a {
                    &:first-child {
                        transition: filter $tempo-transicao;
                        
                        &:hover {
                            filter: brightness(150%);
                        }

                    }

                    &:nth-child(3) {
                        background-color: $cor-quarternaria;
                        color: $cor-primaria;
                        text-decoration: none;
                        display: inline-block;
                        margin: 3px 0;
                        padding: 5px 10px;
                        border-radius: 100px;
                        transition: background-color $tempo-transicao, color $tempo-transicao;
                        font-family: 'robotolight', Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        font-size: 18px;

                        &:hover {
                            background-color: $cor-primaria;
                            color: $cor-quarternaria;
                        }

                    }

                }

                .versoes-item {
                    text-align: center;

                    div {
                        display: inline-block;
                        border-radius: 100px;
                        width: 18px;
                        height: 18px;

                        &:hover {
                            cursor: pointer;
                        }

                        &.versao-item-1 {
                            &.versao-item-ativo {
                                border: 1px solid $cor-item-1;
                            }

                            span {
                                background-color: $cor-item-1;
                            }

                        }

                        &.versao-item-2 {
                            &.versao-item-ativo {
                                border: 1px solid $cor-item-2;
                            }

                            span {
                                background-color: $cor-item-2;
                            }

                        }

                        &.versao-item-3 {
                            &.versao-item-ativo {
                                border: 1px solid $cor-item-3;
                            }

                            span {
                                background-color: $cor-item-3;
                            }

                        }

                        span {
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            border-radius: 100px;
                            border: 3px solid $cor-quarternaria;
                        }

                    }

                }

                span {
                    display: block;
                    font-family: 'robotolight', Arial, Helvetica, sans-serif;
                    font-size: 13px;
                }

            }

        }

    }

}

// Fale Conosco
#fale-conosco {
    background-color: $cor-primaria;
    color: $cor-quarternaria;

    h2 {
        font-size: 50px;
    }

    form {
        display: table;
        width: 100%;

        textarea {
            height: 180px;
            min-height: 180px;
            max-height: 180px;
        }
    
        input[type="submit"] {
            width: 80px;
            padding: 20px 25px;
            float: right;
            cursor: pointer;
            background: url(css-img/seta-direita.svg) no-repeat;
            background-position: center;
            background-size: 30px;
            background-color: $cor-quarternaria;
            color: $cor-primaria;
            transition: background-color $tempo-transicao, background-position $tempo-transicao;
    
            &:hover {
                background-color: $cor-quinaria;
                background-position: 80%;
            }

        }

    }


}

// Footer
footer {
    background-color: $cor-secundaria;
    padding: $margem-global;
    color: $cor-quarternaria;

    h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 5px;
    }

    #footer-links {
        display: flex;

        ul {
            padding: 0;
            margin: 0;
            width: 30%;
    
            li {
                list-style-type: none;

                a {
                    color: $cor-quinaria;
                    font-size: 13px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                }

            }
    
        }

    }

    #footer-newsletter {
        span {
            font-size: 12px;
        }

        #footer-newsletter-form {
            display: flex;
            margin-top: 10px;
            border-radius: 30px;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            overflow: hidden;

            div {
                width: 80%;

                input {
                    padding: 25px 25px;
                    margin-bottom: 0;

                    &[type="text"] {
                        width: calc(100% - 50px);
                        background-color: $cor-quinaria;
                        border: 0;

                        &::placeholder {
                            font-size: 13px;
                            color: $cor-terciaria;
                            font-family: 'robotoregular', Arial, Helvetica, sans-serif;
                            opacity: 1;
                            letter-spacing: 1px;
                        }
                    }
    
                    &[type="submit"] {
                        background-color: $cor-terciaria;
                        color: $cor-primaria;
                        border: 0;
                        cursor: pointer;
                        transition: background-color $tempo-transicao;

                        &:hover {
                            background-color: $cor-primaria;
                            color: $cor-quarternaria;
                        }

                    }

                }

                &+ div{
                    width: 20%;
                }

            }

        }

        .form-alerta {
            margin-bottom: 70px;
        }

    }

    #footer-cnpj {
        font-size: 11px;
        color: $cor-quinaria;
        display: table;
        height: 60px;

        div {
            display: table-cell;
            vertical-align: bottom;
        }
    }

    #footer-redes-sociais {
        h1 {
            margin-bottom: 20px;
        }
        
        .footer-social {
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 20px;
            height: 20px;
            text-indent: -99999px;
            overflow: hidden;
            margin-right: 30px;
        }

        #footer-facebook {
            background-image: url(css-icones/facebook.svg);
        }

        #footer-twitter {
            background-image: url(css-icones/twitter.svg);
        }

        #footer-instagram {
            background-image: url(css-icones/instagram.svg);
        }

    }

}

// [RESPONSIVIDADE]
@import '_responsividade';